body {
  background: #eee;
}

.pageDesc {
  background: #fff;
  width: auto;
  height: auto;
  padding: 20px;
  font-size: 30px;
  color: blue;
  margin-top: 10px;
}

.boxout {
  padding: 20px;
  margin: 10px;
  background: green;
  width: 248px;
  height: 235px;
}

.box {

    padding: 20px;
    width: 200px;
    height: 30px;
    background: yellow;
    border: 5px black solid;
}
