header {
  font-family: 'Abril Fatface', cursive;
  background:url(kbm.jpg);
  background-size: cover;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 60px;
}

header h1 {
  padding-top: 200px;
  padding-left: 4em;
  font-size: 58px;
  color: #f8f3f3;
  margin-top: 0px;
}

span {
  font-size: 38px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  width: 800px;
  font-size: 45px;
  text-align: left;
  color: #FFFFFF;
  margin: 55px auto;
  background-color: black;
  word-spacing: .5em;
}

blockquote strong {
  font-size: 3em;

}

section {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Josefin Sans', sans-serif;
}


section h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

ul {
    list-style-type: square;
}
