header {
  font-family: 'Abril Fatface', cursive;
  background:url(anakin2.png);
  background-size: cover;
  height: 400px;
  margin: 0 0 60px;
}

header h1 {
  padding: 200px 4em 0;
  font-size: 38px;
  color: #222;
  margin-top: 0;
}

.hi {
  font-size: 58px;
}

blockquote {
  font: 45px 'Abril Fatface', cursive;
  width: 800px;
  text-align: left;
  color: #FFFFFF;
  margin: 55px auto;
  background-color: black;
}

blockquote strong {
  font-size: 3em;
}

section {
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Josefin Sans', sans-serif;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

ul {
    list-style-type: square;
}
