h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #222222;
}
h2 {
  color: rgba(0,0,0,.5);
}
body {
 color: rgba(0,0,0,.8);
 margin: 0px;
 font-family: 'Merriweather', serif;
}
article {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 720px;
  margin-left:auto;
  margin-right:auto;
}
img {
  width: 100%
}
a {
  font-style: italic;
  font-weight: bold;
  color: rgba(0,0,0,.8);
}
