html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  padding: 10px 0 0 70px;
}

h2{
  width: 300px;
  height: 33px;
  background: #938c97;
  color: white;
  font-weight: normal;
  font-size: 20px;
  border: 2px solid #938c97;
  border-radius: 5px;
  padding: 5px 0 0 25px;
}

.wrap{
  margin: auto;
    width: 820px;
    height: 1000px;
    padding: 5em;
    background: #dcd6cd;
}
form {
}
.personalandcontact {
  width: 80%;
  padding: 0;
  border: 2px solid black;
  margin-left: 70px;
}
.personalandcontact::after{
  content: "";
  display: block;
  clear: both;
}
.personal {
  width: 49%;
  padding: 0;
  border: 2px solid black;
  float:left;
}
.contact {
  width: 49%;
  padding: 0;
  border: 2px solid black;
  float: right;
}
.birthandgender {
  border: 2px solid black;
}
.birthandgender::after{
  content: "";
  display: block;
  clear: both;
}
.year{
  padding: 0;
  border: 2px solid black;
  float:left;
  width: 50%;
}
.gender{
  padding: 0;
  border: 2px solid black;
  float:right;
  width: 50%;
}

.brandofyou {
  border: 2px solid black;
}
.brandofyou::after{
  content: "";
  display: block;
  clear: both;
}
.brandofyoufirst{
  padding: 0;
  border: 2px solid black;
  float:left;
  width: 50%;
}
.brandofyousecound{
  padding: 0;
  border: 2px solid black;
  float:right;
  width: 50%;
}
label,.genlabel {
  text-align: right;
  color: #40375a;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: block;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="url"],select {
  background: white;
  width: 300px;
  height: 33px;
  border: 2px solid #938c97;
  border-radius: 5px;
}
input[type="number"]{
  background: white;
  width: 80px;
  height: 33px;
  border: 2px solid #938c97;
s  border-radius: 5px;
}
.introductioncv, .acceptance, .buttons {
  margin-left: 70px;
  padding:10px;
}
textarea{
  width: 640px;
  height: 170px;
}
.gender label{
  display: inline;
  font-weight: lighter;
}
.buttons{
  max-width: 670px;
  border: 2px solid black;
}
.save {
  width: 49%;
  padding: 0;
  border: 2px solid black;
  float: left;
}
.cancel{
  display: flex;
  width: 49%;
  padding: 0;
  border: 2px solid black;
  justify-content: flex-end;
}
button#save {
  width: 220px;
  background: #4E4563;
  color: #E1DBD1;
  font-size: 18px;
}
button#cancel {
  width: 160px;
  background: #F2F2F2;
  color: #574E67;
  font-size: 14px;
}
